@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-500: rgba(23, 119, 229, 1);
  --cards-short-default: 0px 5px 14px 0px rgba(8, 15, 52, 0.04);
  --developer-body-regular-400-font-family: "Inter", Helvetica;
  --developer-body-regular-400-font-size: 16px;
  --developer-body-regular-400-font-style: normal;
  --developer-body-regular-400-font-weight: 400;
  --developer-body-regular-400-letter-spacing: 0px;
  --developer-body-regular-400-line-height: 24px;
  --lawyer-body-small-500-font-family: "Barlow", Helvetica;
  --lawyer-body-small-500-font-size: 14px;
  --lawyer-body-small-500-font-style: normal;
  --lawyer-body-small-500-font-weight: 500;
  --lawyer-body-small-500-letter-spacing: 0px;
  --lawyer-body-small-500-line-height: 20px;
  --neutral-300: rgba(239, 240, 246, 1);
  --primarycolor-1: rgba(74, 58, 255, 1);

  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 47.4% 11.2%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --card: transparent;
  --card-foreground: 222.2 47.4% 11.2%;
  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 210 40% 98%;
  --ring: 215 20.2% 65.1%;
  --radius: 0.5rem;
}

.dark {
  --background: 224 71% 4%;
  --foreground: 213 31% 91%;
  --muted: 223 47% 11%;
  --muted-foreground: 215.4 16.3% 56.9%;
  --accent: 216 34% 17%;
  --accent-foreground: 210 40% 98%;
  --popover: 224 71% 4%;
  --popover-foreground: 215 20.2% 65.1%;
  --border: 216 34% 17%;
  --input: 216 34% 17%;
  --card: transparent;
  --card-foreground: 213 31% 91%;
  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 1.2%;
  --secondary: 222.2 47.4% 11.2%;
  --secondary-foreground: 210 40% 98%;
  --destructive: 0 63% 31%;
  --destructive-foreground: 210 40% 98%;
  --ring: 216 34% 17%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}